@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR:wght@400;500&display=swap');

/*>>>>>>>>>> 공통 <<<<<<<<<<*/
.notoSans {font-family: 'Noto Sans KR', sans-serif;}
.notoSerif {font-family:'Noto Serif KR', serif;}
body {padding-left: 2%; padding-right: 2%;}

/*>>>>>>>>>> 팝업 스와이퍼  <<<<<<<<<<*/
.swiper { width: auto; height: 300px;}
.swiper-button-next {background: url('../icon/next.png') no-repeat; background-size: 100% auto; background-position: center;}
.swiper-button-prev {background: url('../icon/before.png') no-repeat; background-size: 100% auto; background-position: center;}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-container { overflow-x: hidden;}
.swiper-slide {text-align:center; display:flex; align-items:center; justify-content:center;}
.swiper-img {width: 200px !important; height: 200px !important; overflow: hidden; position: relative; }
.swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover;}


/*>>>>>>>>>> 글자 <<<<<<<<<<*/
.personName {font-family: 'Noto Serif KR', serif; margin-top: 4px; margin-bottom: 0px; font-size: 20pt; font-weight: 500; color: #444444;}
div {padding: 60 0px;}
.top {width:100%; height: 40PX;}
.bd {width: 22%; border: 1px solid #999999; margin-top:2%; margin-bottom: 20%; text-align: left; margin-left: 0;}
.main {width: 100%; margin-top: 5%; margin-bottom: 5%;}
.address {margin-top: 0; margin-bottom: 0; font-family: 'Noto Serif KR', serif; font-weight: 400; color: #555555; font-size: 12pt;}
.closeSpace {width: 100%; height: 60px; position: absolute; top: 0; z-index:3333;}
.greetings {padding-top: 4%; padding-bottom: 4%; width:100%; text-align: center; font-family:'Noto Serif KR', serif; font-weight: 400; font-size: 10pt; color:#555555; line-height: 18pt; margin: 20px 0px;}
.close {width: 30px; height: 30px; float: right; position: absolute; top:15px; right:15px; z-index: 7777;}
.closeBtn {width: 100%; height: 100%; z-index: 7788;}

.layerPop {display:none; position:fixed; top:0; left:0; z-index:1000; margin:0; width:100%; height:100%; background:#000; text-align:center; padding:30px 0; box-sizing: border-box;}
.layerPop > .container {width: 100%; height: 100%; display: inline-block;}
.layerPop .layerBody {display:flex; align-items: center; justify-content: center; width: 100%; height: 100%;}
.swiper-autoheight .swiper-wrapper {align-items: center !important;}
.layer02Con {width: 80%; height: 80%; background-color: #fff; display: table-cell; vertical-align: middle;}

.ani {opacity: 0; transition:all 1s ease .5s;}
.btt {transform:translateY(30px);}
.ani.on {opacity: 1; transform: translate(0);}

.callSpace {text-align: center; padding: 20px 0;}
.callImg {width: 20px; height: 20px; margin:0 6px;}
.callBtn {width: 100%; height: 40px; margin: 10px 0; display: flex; align-items:center; justify-content: center; border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); font-weight: 500; transition: 0.25s; font-family: 'Noto Sans KR', sans-serif; color: #fff; background-color: #444; 
}
.groom:hover { background-color: #aecad8; }
.bride:hover { background-color: #eebae5; }
.brideParents:hover {background-color: #976c8f;}
.groomParents:hover {background-color: #6e8d9d;}

#callParentBtn {width: 100%; height: 40px; padding: 20px 0; font-family: 'Noto Sans KR', sans-serif; display: flex; align-items:center; justify-content: center;
  font-family: 'Noto Serif KR', serif; color: #777; font-size: 14px; }
.callParentCell {text-align: center; flex: 0.3; width: 100%;}
.parentsDiv { width: 100%; height: 140px; display: flex; align-items:center; margin-bottom: 20px;}
.callDiv {flex:1;}
.groomParents {padding: 10px 0; margin: 10px 20px; border-radius: 15px; font-family: 'Noto Sans KR', sans-serif; color: #fff; font-size: 14px; background-color: #aecad8;}
.imgText {display: flex; align-items:center; justify-content: center;}
.brideParents {background-color: #eebae5; border-radius: 15px; font-family: 'Noto Sans KR', sans-serif; color: #fff; font-size: 14px; padding: 10px 0; margin: 10px 20px;}

.textTitle {font-family:'Noto Serif KR', serif; font-weight: 500; font-size: 20px; margin: 50px 0; color: #777;}

.layer02 {display:none; position:fixed; top:0; left:0; z-index:1000; margin:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); text-align:center; padding:30px 0; box-sizing: border-box;}
.layer02 .container {width: 80%; height: auto; display: inline-block; background-color: #fff; position: relative; top: 10%; border-radius: 12px;}
.layer02Header {width: 100%; height: 60px;}
.layer02 .contents {display: inline-block; font-family:'Noto Serif KR', serif;}
.copyBtn {width: 60px; height: 24px; border: none; background-color: #cccccc; border-radius: 10px; font-weight: 500; font-family: 'Noto Sans KR', sans-serif; color: #fff; margin: 0 8px;}
.position {font-weight: 400; font-size: 12px; color: #555555;}
.name {font-weight: 600; color: #333;}
.accountSpace {margin: 10px 0;}
.accountName {border-radius: 8px; padding: 2px 8px; font-size: 12px; color: #555555; font-weight: 500;}
.accountNum {color: #333; font-weight: 500; letter-spacing: 1px;}
.unit {padding-bottom: 15px; margin-bottom: 15px; border-bottom: dashed #cccccc 0.5px;
  }